<div *ngIf="loading$ | async" class="loading-spinner">Loading...</div>
<div class="dashBoxContainer" >
    <div class="dashPageBox" [routerLink]="['/pageBuilder']" routerLinkActive="router-link-active" *ngIf="pages$ | async as pages">
        <h3 >Pages</h3>
        <p >Count: {{pages.length}}</p>
        <small >Details about Title 1</small>
    </div>
    <div class="dashMonitorBox" >
        <h3 >Monitors</h3>
        <p >Count: </p>
        <small >Details about Title 2</small>
    </div>
    <div class="dashCameraBox" >
        <h3 >Camers</h3>
        <p >Count: </p>
        <small >Details about Title 3</small>
    </div>
</div>
