@model App.Models.PageEditor.EditElementsViewModel
@{
    ViewData["PageId"] = Model.PageId;
}
<div class="BigD">

@await Component.InvokeAsync("TopMenu", new
    {
        pageId = Model.PageId,
        saveUrl = Url.Action("SaveElements", "PageEditor"),
        finalSaveUrl = Url.Action("FinalSave", "PageEditor") // if you use explicit URL for final save
    })
@await Component.InvokeAsync("SideBar", Model.Tools)
@await Component.InvokeAsync("EditorMain", new
    {
        elements = Model.Elements,
        pageId = Model.PageId
    })
</div>



