@using DTOs.Pagebuilder
@model List<PageDTO>

<h2>Pages</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.CreatedAt</td>
                <td>@item.UpdatedAt</td>
            </tr>
        }
    </tbody>
</table>
