<div class="tool-editor">
    <h3>Edit Tool</h3>
    <form (ngSubmit)="saveTool()" *ngIf="editingToolData">
      <!-- Inputs for each property -->
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="editingToolData.name" name="name" required />
  
      <label for="defaultJs">Default JS:</label>
      <textarea id="defaultJs" [(ngModel)]="editingToolData.defaultJs" name="defaultJs"></textarea>
  
      <label for="elementType">Element Type:</label>
      <input id="elementType" [(ngModel)]="editingToolData.elementType" name="elementType" />
  
    <!-- Select for styles -->
    <label for="template">Select Style:</label>
    <select id="template" [(ngModel)]="selectedTemplate" name="template" (change)="onStyleChange()">
      <option *ngFor="let template of editingToolData.templates" [ngValue]="template">
        {{ template.htmlTemplate }}
      </option>
    </select>
  
      <!-- Input for editing CSS of the selected style -->
      <label for="customCss">Edit CSS:</label>
      <textarea id="customCss" [(ngModel)]="selectedTemplate.customCss" name="customCss" (input)="onStyleChange()"></textarea>
  
      <button type="submit">Save</button>
    </form>
    ;width:100%;height:100%
   <!-- Visualization -->
   <div class="tool-visualization" *ngIf="selectedTemplate">
    <div [innerHTML]="selectedTemplate.htmlTemplate"></div>
  </div>
  </div>