<div class="customeBody" *ngIf="pageData$ | async as pageData">
    <div class="soft-edit-container">
        <h1 class="page-title">Soft Edit Page</h1>

        <div class="page-details">
            <p><strong>Title:</strong> {{ pageData?.title }}</p>
            <p><strong>Created At:</strong> {{ pageData?.createdAt | date: 'medium' }}</p>
            <p><strong>Updated At:</strong> {{ pageData?.updatedAt | date: 'medium' }}</p>
        </div>

        <div class="edit-section" *ngIf="pageData">
            <label for="pageTitle" class="edit-label">Edit Title:</label>
            <input
                id="pageTitle"
                type="text"
                [(ngModel)]="pageData.title" 
                class="edit-input"
                placeholder="Enter new title"
                 />
            <div class="buttonBOx">
                <button class="save-button" [routerLink]="['/pageBuilder']" routerLinkActive="router-link-active">beck to
                    pages</button>
                <button class="save-button"
                 (click)="saveTitle(pageData)"
                 [disabled]="loading$ | async">
                 {{ (loading$ | async) ? 'Saving...' : 'Save' }}
                </button>
                <button class="save-button" (click)="goEditor()">go to editor</button>
            </div>
        </div>
    </div>
</div>



  