
/* Resizable handles */
.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #007bff; /* Blue color for visibility */
    z-index: 10;
    cursor: pointer;
  }
  
  /* Top handle */
  .resize-handle.top {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: n-resize; /* North resize cursor */
  }
  
  /* Bottom handle */
  .resize-handle.bottom {
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: s-resize; /* South resize cursor */
  }
  
  /* Left handle */
  .resize-handle.left {
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: w-resize; /* West resize cursor */
  }
  
  /* Right handle */
  .resize-handle.right {
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: e-resize; /* East resize cursor */
  }
  
  /* Hover effect for resize handles */
  .resize-handle:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  h1{
    margin: 0;
  }
  .editor{
    width: 100%;
    height: 100%;
  }
  .CookieBox .dome-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CookieBox .dome-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }